.container {
  max-width: 960px;
}

.lh-condensed { line-height: 1.25; }
.form-control1{
  width:60px; height:30px;
}
.form-control2{
  width:60px; height:30px;
}
.form-control3{
  width:60px; height:30px;
}
.form-control4{
  width:60px; height:30px;
}
