{% extends 'staff/staff_base.html' %}
{% load staticfiles %}

{% block content %}
    
    <div class="row">
        <div class="col-3">호실</div>
        <div class="col-3">타입</div>
        <div class="col-3">청소상태</div>
        <div class="col-3">예약상태</div>
    </div>
    {% for room in rooms %}
        <div class = "row">
            <div class="col-3">{{room.room_num}}</div>
            <div class="col-3">{{room.type}}</div>
            <div class="col-3">{{room.status_clean}}</div> 
        </div>    
    {% endfor %}  
    
{% endblock %}