<meta charset="UTF-8" />    <!--한글깨짐을 방지.-->
{% extends 'staff/staff_base.html' %}
{% load staticfiles %}

{% block content %}

<div style="border:1px #dedede; width:10; height:10;  overflow:auto;" >
    <table cellspacing="0" class="case03" style="width:85%; margin: 10px 40px;" id="table" name="table">
        <colgroup>
            <col width="25%">
            <col width="25%">
            <col width="25%">
            <col width="25%">
        </colgroup>
    </table>         
</div>

<script language="JavaScript">
function button_click()
{   
    //아래 템플릿에서 파이썬으로 디비 정보를 받아왔음. 이제 jquery이용해서 그 값들을 자바스크립트로 받아와서 처리한다.
    var selectfloor = document.getElementById("Floor").options[document.getElementById("Floor").selectedIndex].value;

    //일단 디비 정보를 룸번호,룸타입,룸청소상태로 나눠서 제이쿼리로 받는다.
    var roomnumlen = $("input[name = 'roomnum']").length;
    var roomnum = new Array(roomnumlen);//룸 번호 불러올 배열
    for(var i=0; i<roomnumlen; i++){//룸 번호 저장하기
        roomnum[i] = $("input[name = 'roomnum']")[i].value;
    }

    var roomtypelen = $("input[name = 'roomtype']").length;
    var roomtype = new Array(roomtypelen);//룸 타입 불러올 배열
    for(var i=0; i<roomtypelen; i++){//룸 타입만 저장하기
        roomtype[i] = $("input[name = 'roomtype']")[i].value;
    }

    var roomcleanlen = $("input[name = 'roomclean']").length;
    var roomclean = new Array(roomcleanlen);//룸 청소상태 불러올 배열
    for(var i=0; i<roomcleanlen; i++){//룸 청소상태만 저장하기
        roomclean[i] = $("input[name = 'roomclean']")[i].value;
    }

    var floor = new Array(roomnumlen);//층을 담는 배열
    for(var i = 0; i<roomnumlen; i++){
        floor[i] = Math.floor(roomnum[i]/100);//소수점 제거하고 층만 배열에 저장
    }


    var row_1 = 0;
    var row_2 = 0;
    var row_3 = 0;
    var row_4 = 0;
    var num = new Array();
    var type = new Array();
    var clean = new Array();
    
    var tbl = document.getElementById("table");
    var body = document.body;
    //var tbl = document.createElement('table');
    // tbl.style.width = '1000px';
    //tbl.style.height = '200px';
    
    tbl.style.border = '1px solid black';

    var guboon = 0;
    var a = 0;
    var b = 0;
    var c = 0;
    var d = 0;

    for(var i=0; i<roomnumlen; i++){
        if(selectfloor == "01" && floor[i] == 1){
            //document.write(roomnum[i],"\n",roomtype[i],"\n",roomclean[i],"<br>");
            //tableCreate(roomnum[i], roomtype[i], roomclean[i]);
            guboon = 1;
            row_1++;
            num[a] = roomnum[i];
            type[a] = roomtype[i];
            clean[a] = roomclean[i];
            a++;
        }else if(selectfloor == "02" && floor[i] == 2){
            //document.write(roomnum[i],"\n",roomtype[i],"\n",roomclean[i],"<br>");
            //tableCreate(roomnum[i], roomtype[i], roomclean[i]);
            guboon = 2;
            row_2++;
            num[b] = roomnum[i];
            type[b] = roomtype[i];
            clean[b] = roomclean[i];
            b++;
        }else if(selectfloor == "03" && floor[i] == 3){
            //document.write(roomnum[i],"\n",roomtype[i],"\n",roomclean[i],"<br>");
            //tableCreate(roomnum[i], roomtype[i], roomclean[i]);
            guboon = 3;
            row_3++;
            num[c] = roomnum[i];
            type[c] = roomtype[i];
            clean[c] = roomclean[i];
            c++;
        }else if(selectfloor == "04" && floor[i] == 4){
            //document.write(roomnum[i],"\n",roomtype[i],"\n",roomclean[i],"<br>");
            //tableCreate(roomnum[i], roomtype[i], roomclean[i]);
            guboon = 4;
            row_4++;
            num[d] = roomnum[i];
            type[d] = roomtype[i];
            clean[d] = roomclean[i];
            d++;
        }
        //층수 더 늘어나면 조건문이랑 아래 옵션에서 새로 추가하면 됩니다.

    }



    if(guboon == 1){
        for(var a = 0; a < row_1; a++){
            var tr = tbl.insertRow();
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)//위에서 배열이 roomnumlen만큼 돌아가므로 해당 층이 아닌곳은 null로 언디파인드 된다. 언디파인드 아닌것만 표로 출력해야한다!!!
                    td.appendChild(document.createTextNode(num[a]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(type[a]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(clean[a]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(" "));
                td.style.border = '1px solid black';
            }
        }
        body.appendChild(tbl);
        tableCreate();
    }
    if(guboon == 2){
        for(var b = 0; b < row_2; b++){
            var tr = tbl.insertRow();
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(num[b]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(type[b]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(clean[b]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(" "));
                td.style.border = '1px solid black';
            }
        }
        body.appendChild(tbl);
        tableCreate();
    }
    if(guboon == 3){
        for(var c = 0; c < row_3; c++){
            var tr = tbl.insertRow();
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[c] != undefined)
                    td.appendChild(document.createTextNode(num[c]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(type[c]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(clean[c]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(" "));
                td.style.border = '1px solid black';
            }
        }
        body.appendChild(tbl);
        tableCreate();
    }
    if(guboon == 4){
        for(var d = 0; d < row_4; d++){
            var tr = tbl.insertRow();
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[d] != undefined)
                    td.appendChild(document.createTextNode(num[d]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(type[d]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(clean[d]));
                td.style.border = '1px solid black';
            }
            for(var j = 0; j < 1; j++){
                var td = tr.insertCell();
                td.style.width = '250px';
                if(num[b] != undefined)
                    td.appendChild(document.createTextNode(" "));
                td.style.border = '1px solid black';
            }
        }
        body.appendChild(tbl);
        tableCreate();
    }

}


</script><!--버튼이벤트 테스트-->



<div class="row">
    <div class="col-2 mb-3">
        <label for="checkin">층수</label><br>
        <div class="field-icon-wrap">
            <div class="icon"><span class="ion-ios-arrow-down"></span></div>
            <select name="Floor" id="Floor" onchange="button_click();">
                <option value="X">층 선택</option>
                <option value="01">1</option>
                <option value="02">2</option>
                <option value="03">3</option>
                <option value="04">4</option>
                <!--층수는 나중에 더 추가하면 됩니다.-->
            </select>
            <input type=button value="확인" style="width:30pt;height:20pt;" onclick="location.reload()">
            <!--클릭할때마다 테이블이 계속 생겨서... 임시방편으로 만들어놓은 새로고침 버튼이에요ㅠㅠ-->
            <div class="">
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-3">호실</div>
    <div class="col-3">타입</div>
    <div class="col-3">청소상태</div>
    <div class="col-3">예약상태</div>
</div>


<!--이 디비 정보는 히든이라 실제 페이지에서는 안보입니다.-->
{% for room in rooms %}
    <input class="col-3" type="hidden" name="roomnum" value = {{room.room_num}}>
    <input class="col-3" type="hidden" name="roomtype" value = {{room.room_type}}>
    <input class="col-3" type="hidden" name="roomclean" value = {{room.status_clean}}>
{% endfor %}
    
{% endblock %}