{% extends 'guest/guest_base.html' %}
{% load staticfiles %}

{% block content %}
      <div class="row mb-5">
          <div class="col-md-12">
  
            <div class="block-32">
              <form action="#">
                <div class="row">
                  <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <label for="checkin">Check In</label>
                    <div class="field-icon-wrap">
                      
                      <input type="date" id="checkin_date" class="form-control">
                    </div>
                    <!--하..나도 달력 뜨게 하고싶어....-->
                  </div>
                  <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                    <label for="checkin">Check Out</label>
                    <div class="field-icon-wrap">
                      
                      <input type="date" id="checkout_date" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
                    <div class="row">
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label for="checkin">Adults</label>
                        <div class="field-icon-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 mb-3 mb-md-0">
                        <label for="checkin">Children</label>
                        <div class="field-icon-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-lg-3 align-self-end">
                    <button class="btn btn-primary btn-block">Check Availabilty</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark" style = "background-image: url('{% static 'hotel.png' %}');">
        
        <div class="col-md-6 px-0">
          <h1 class="display-4 font-italic">Whelcome to our hotel.</h1>
          <p class="lead my-3">고객님들께 최상의 품질의 서비스와 환경을 제공하기 위해 항상 노력하고 있습니다.</p>
          <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">방 둘러보기</a></p>
        </div>
      </div>

    
    {% endblock %}